@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Futura PT", sans-serif;
}

.header {
  font-family: "Orbitron", sans-serif;
}

.invisible {
    opacity: 0;
}

.buttonContainer {
  content: ""; /* Required for pseudo-element */
  display: flex;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.btnPrimary {
  flex: 1;
  align-items: center;
  justify-content: center;
  border-color: #7c31b5;
  background-color: #7c31b5;
  border: 2px solid #7c31b5; /* border-violet-500 */
  color: white;
  outline: none;
  cursor: pointer;
  padding: 20px 25px;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: "Orbitron", sans-serif;
}

.btnPrimary:hover {
  background-color: #6e2e9b;
  border: 2px solid #6e2e9b; /* border-violet-500 */
}

.btnSecondary {
  color: #7c31b5; /* text-violet-500 */
  border: 2px solid #7c31b5; /* border-violet-500 */
  flex: 1;
  margin: 0 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px 25px;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: "Orbitron", sans-serif;
}

.btnSecondary:hover {
  background-color: #7c31b5; /* hover:bg-violet-500 */
  color: #ffffff; /* hover:text-white */
}

.glitch {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

div:before,
div:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

div:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

/* Keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.fade-in-right {
  animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.glitch-container {
  position: relative;
  display: inline-block;
}

.glitch {
  font-size: 4rem; /* Adjust the font size as needed */
  color: #fff; /* Change the color if needed */
  position: relative;
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch:before,
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch:after {
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
